.model,
.class,
.style{
    margin-left: 150px;
}
.ng{
    margin-left:100px;
}
.zero{
    color: rebeccapurple;
    font-size: larger;
}
.one{
    // color: rebeccapurple;
    color: white;
    font-weight: 600;
}
.two{
background-color: black;
}
.three{
    background-color: red;
}
.four{
    color: black;
    font-size: larger;
}
.colorClass{
    background-color: grey;
    color: cyan;
}